.container{
    display: flex;
    border: 1px solid red;
    background-color: bisque;
    flex-direction: row;
    flex-wrap: wrap;
}
.child1{
    color: aliceblue;
    border: 1px solid pink;
    background-color: black;
    height: 200px;
    width: 300px;
}
.child2{
    border: 1px solid chartreuse;
    background-color: brown;
    height: 200px;
    width: 300px;
}
.child3{
    border: 1px solid yellow;
    background-color: blue;
    height: 200px;
    width: 300px;
}
.child4{
    border: 1px solid beige;
    background-color: azure;
    height: 200px;
    width: 300px;
}